@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/mixins.scss' as *;

.buttonIcon {
  width: 40px;
  height: 40px;
  border-radius: $radius-full;
  flex-shrink: 0;
}

.primary {
  background: var(--color-primary-300);
  color: var(--color-neutral-100);

  &:hover,
  &:focus-visible {
    background: var(--color-primary-400);
  }
}

.transparent {
  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary-400);
  }

  &:hover {
    @include card();
  }
}

.secondary {
  color: var(--color-neutral-500);
}
