@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;

.input {
  background: transparent;
  padding: $spacing-xxs $spacing-md;
  border: $border-base;
  border-radius: $radius-full;
  color: var(--color-neutral-600);

  &:hover,
  &:focus {
    border-color: var(--color-accent-400);
  }
}
