@use '@/styles/tokens/spacing.scss' as *;

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.inputContainer {
  flex-grow: 1;
  display: flex;
  gap: $spacing-xs;
}

.input {
  flex-grow: 1;
}
