@use '@/styles/tokens/shadow.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;

.reportButton {
  position: relative;
  color: var(--color-danger-700);
  display: flex;
  align-items: center;
  gap: $spacing-xxxs;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 6px;
  }

  &:hover {
    background: var(--color-background-400);
    box-shadow: $shadow-md;
  }
}
