@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  min-height: 100dvh;
  position: relative;
  background: var(--color-background-100);
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.topbarContent {
  display: flex;
  gap: $spacing-md;
}
