@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  min-height: 100dvh;
  position: relative;
}

.content {
  padding: $spacing-md $spacing-sm;

  @media (min-width: $breakpoint-sm) {
    padding: $spacing-xxl $spacing-xxxxl;
  }
}

.topbarContent {
  display: flex;
  gap: $spacing-md;
}
