@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/typography.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/animations.scss' as *;
@use '@/styles/tokens/mixins.scss' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: $spacing-xs $spacing-md;
  border-radius: $radius-full;
  white-space: nowrap;
  gap: $spacing-xxs;

  @include has-motion {
    transition:
      background 0.2s,
      color 0.2s,
      border 0.2s;
  }
}

.primary {
  background: var(--color-secondary-400);
  color: var(--color-secondary-foreground-400);
  border: $border-width-base solid var(--color-secondary-400);

  &:hover,
  &:focus-visible {
    background: var(--color-secondary-500);
    color: var(--color-secondary-foreground-400);
  }
}

.secondary {
  @include card();
  background: transparent;
  color: var(--color-secondary-400);
  border: $border-width-base solid var(--color-secondary-400);

  &:hover {
    color: var(--color-secondary-500);
    border-color: var(--color-secondary-500);
  }
}

.tertiary {
  background: var(--color-primary-400);
  color: var(--color-primary-foreground-400);
  border: $border-width-base solid transparent;

  &:hover {
    background: var(--color-primary-300);
    color: var(--color-primary-foreground-400);
  }
}

.small {
  padding: $spacing-xs $spacing-md;
  line-height: $line-height-sm;
}
