@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/shadow.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/mixins.scss' as *;

.githubButton {
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  gap: $spacing-xxxs;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 6px;
  }

  &:hover {
    @include card();
    box-shadow: $shadow-md;
  }
}
