@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.list {
  display: grid;
  gap: $spacing-md;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
