@use '@/styles/tokens/spacing.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-xxxs;
}

.item {
  border-radius: 2rem !important;
  padding: 0 $spacing-xxs;
  gap: $spacing-xxxs;

  &[aria-pressed='true'] {
    box-shadow: 0 0 0 1px var(--color-primary-400);
    background: var(--color-primary-100);
  }
}
