@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/shadow.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/elevation.scss' as *;
@use '@/styles/tokens/mixins.scss' as *;

.trigger {
  display: flex;
  align-items: center;
  gap: $spacing-xxxs;
}

.panel {
  left: $spacing-sm;
  right: $spacing-sm;
  border-radius: $radius-lg;
  width: calc(100% - 2em);
  box-shadow: $shadow-sm;
  z-index: $elevation-high;
  position: absolute;
  border: $border-base;
  right: 0;
  min-width: 314px;
  @include card();

  &.left {
    left: auto;
  }

  &.right {
    right: auto;
  }

  &.topLeft {
    top: auto;
    left: auto;

    bottom: 100%;
    margin-bottom: $spacing-sm;
  }
}
