@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/openSans/OpenSans.woff2') format('woff2');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/openSans/OpenSansItalic.woff2') format('woff2');
  font-weight: 300 800;
  font-style: italic;
}
