@use '@/styles/tokens/typography.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;

.url {
  color: var(--color-secondary-400);
  font-weight: $font-weight-semi-bold;
}

.disclaimer {
  margin-top: $spacing-sm;
}
