@use '@/styles/tokens/typography.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.root {
  color: var(--color-text-base);
}

.base {
  color: var(--color-text-base);
}

.muted {
  color: var(--color-text-muted);
}

.subtle {
  color: var(--color-text-subtle);
}

.primary {
  color: var(--color-primary-400);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp);
  line-clamp: var(--line-clamp);
}

.titleLg {
  font-size: $font-size-xxxl;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

.titleMd {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

.titleSm {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

.bodyLg {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
}

.bodyMd {
  font-size: $font-size-md;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-base;
}

.bodySm {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

.caption {
  font-size: $font-size-xs;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}
