@use '@/styles/tokens/border.scss' as *;

@mixin card {
  border: $border-width-base solid var(--color-background-300);
  backdrop-filter: blur(var(--blur-background));
  background: var(--color-background-000);
}
