@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.feed {
  display: flex;
  flex-direction: column;
  margin-inline: $spacing-xl;
  margin-block: $spacing-md;
}

.container {
  display: flex;
  flex-grow: 1;
  @media (min-width: $breakpoint-md) {
    display: grid;
    grid-template-columns: 18fr 82fr;
  }
}
