.fallbackAccent {
  position: absolute;
  right: 20%;
  top: 20%;
  width: 150px;
  height: 150px;
  filter: blur(100px);
  opacity: 0.7;
}

.fallbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
