@use '@/styles/tokens/spacing.scss' as *;

@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/typography.scss' as *;

.inline {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  border: $border-width-base solid var(--color-border-400);
  border-radius: $radius-lg;
  padding: $spacing-md;
}

.header {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  color: var(--color-primary-500);
}

.apply {
  font-size: $font-size-md;
  font-weight: $font-weight-semi-bold;
}
