@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/animations.scss' as *;

.container {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  gap: $spacing-xxs;
  padding: $spacing-xxs;
  border-radius: $radius-xl;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: var(--color-accent-400);
    --color-text: var(--color-neutral-100);
  }

  &:focus-visible {
    outline: $border-width-base solid var(--color-accent-300);
  }
}

.text {
  text-align: left;
}

.icon {
  color: var(--color-text, var(--color-accent-300));
}

.trigger {
  gap: $spacing-xxs;
}

.panel {
  margin-top: $spacing-xxs;
}
