@use '@/styles/tokens/spacing.scss' as *;

.container {
  display: flex;
  align-items: flex-end;
  gap: $spacing-sm;
}

.subtitle {
  white-space: nowrap;
  line-height: 1.5;
}

.image {
  width: 48px;
}
