@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/mixins.scss' as *;

.container {
  height: $spacing-xxxxl;
}

.content {
  display: flex;
  align-items: center;
  min-width: 40px;
  gap: $spacing-xxs;

  &:hover .input,
  &:focus-within .input {
    border-color: var(--color-accent-400);
  }
}

.inputContainer {
  flex: 1;
  min-height: 56px;
  display: inline-flex;
  flex-direction: row-reverse;
  position: relative;
}

.mainButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $spacing-xxs;
  z-index: 2;
}

.backButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $spacing-xxs;
  z-index: 2;
  color: var(--color-primary-400);
}

.input {
  display: none;
  flex: 1;
  padding-right: calc(40px + #{$spacing-sm});
  @include card();

  @media (min-width: $breakpoint-sm) {
    display: block;
  }
}

.inputVisible {
  padding-left: calc(40px + #{$spacing-sm});
  display: block;
}
