@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  background: var(--color-background-400);

  opacity: 0;
  animation: fadeIn 1s ease 1s forwards;

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
