@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/shadow.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/animations.scss' as *;

.container {
  display: flex;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(5px);
  transition:
    background 0.15s ease-in,
    box-shadow 0.15s ease-in;
  border: $border-width-base solid var(--color-border-400);

  &.clickable {
    &:hover:not(&:has(.externalLinkContainer a:hover)) {
      box-shadow: $shadow-md;
    }

    &:focus-within:focus-visible {
      border: $border-width-base solid $color-accent-400;
    }

    @include has-motion {
      &:hover .image {
        transform: scale(1.1);
      }

      &:hover .title {
        color: var(--website-color);
      }
    }
  }
}

.content {
  flex: 1;
  padding: $spacing-md $spacing-md $spacing-md 0;
  gap: $spacing-md;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 120px;
  padding-inline: $spacing-md;

  @include has-motion {
    transition: transform 0.35s ease-out;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.description {
  height: 3.25rem;
}

.keywords {
  margin-top: auto;
}

.detailsLink {
  all: unset;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    cursor: pointer;
  }
}

.externalLinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $spacing-sm;
}
