@use '@/styles/tokens/mixins.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/shadow.scss' as *;
@use '@/styles/tokens/typography.scss' as *;

.message {
  @include card();
  border-radius: $radius-md;
  padding: $spacing-sm $spacing-md;
  border: $border-width-base solid var(--color-border-400);
  box-shadow: $shadow-sm;
  display: flex;
  align-items: center;
  gap: $spacing-sm;

  min-width: min(400px, 100%);
  font-weight: $font-weight-semi-bold;
}
